:root {
    --dark-blue: #075985;
    --light-blue: #0284c7;
    --cyan-blue: #38bdf8;
    --background-color-gray: rgba(224, 224, 224, 0.483);
    --general-text-color: rgba(2, 2, 2, 0.634);
    --font-family: "roboto", "sans-serif";
}

html,
body {
    font-family: var(--font-family);
    background-color: var(--background-color-gray);
    margin: 0;
    padding: 0;
}

ul {
    padding: 0;
    list-style: none;
}

li {
    cursor: pointer;
}

.container {
    display: grid;
    grid-template-columns: 1fr 6fr;
    grid-template-rows: 135px 6fr;
    height: 100vh;
    width: 100vw;
}

.section-title {
    font-size: 1.5rem;
    font-weight: 500;
}

/* SIDEBAR */

.sidebar {
    color: white;
    font-size: 1.2rem;
    display: flex;
    flex-direction: column;
    background-color: var(--light-blue);
    grid-row: 1/3;
    padding-top: 20px;
    padding-left: 15px;
    gap: 50px;
}

.sidebar li {
    margin-bottom: 15px;
}

.sidebar ul img {
    margin-left: 15px;
    margin-right: 25px;
    height: 25px;
    width: 25px;
    vertical-align: middle;
}

#dashboard-icon {
    margin-right: 5px;
    height: 60px;
    width: 60px;
    vertical-align: middle;
}

/* HEADER GENERAL */

.header {
    background-color: white;
    font-size: 1rem;
    display: grid;
    grid-template-rows: 60px 60px;
    box-shadow: 0px 2px 3px rgb(175 175 175);
}

/* HEADER FIRST LINE */

.header-first-line {
    grid-row: 1;
    display: flex;
    flex-direction: row;
    margin-inline: 20px;
    align-items: center;
}

#header-search-icon {
    height: 25px;
    width: 25px;
    margin-right: 10px;
}

#search-bar {
    padding-left: 10px;
    font-size: 1.1rem;
    border-radius: 8px;
    border: none;
    background-color: var(--background-color-gray);
    height: 25px;
    flex-grow: 1;
}

#header-notification-icon {
    height: 25px;
    width: 25px;
}

.header-first-line .header-profile-picture {
    height: 45px;
    width: 45px;
}

.header-profile-name {
    font-weight: bold;
}

.header-first-line ul {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1vw;
    margin-inline: 3vw;
}

/* HEADER SECOND LINE */

.header-second-line {
    grid-row: 2;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-inline: 20px;
}

.header-second-line .header-profile-picture {
    height: 60px;
    width: 60px;
}

.header-second-line ul {
    display: flex;
    flex-direction: row;
    gap: 2vw;
    margin-inline: 2.5vw;
    flex-wrap: wrap;
}

.header-second-line .header-buttons li {
    color: white;
    border-radius: 50px;
    font-size: 1.2rem;
    padding-block: 0.7vh;
    padding-inline: 30px;
    background-color: var(--light-blue);
}

.left-side {
    display: flex;
    align-items: center;
}

.welcome-profile {
    margin-left: 20px;
    line-height: 23px;
}

.header-welcome-message {
    font-size: 0.9rem;
}

.header-full-profile-name {
    font-size: 1.3rem;
    font-weight: bold;
}

/* CONTENT */

.content {
    grid-row: 2;
    grid-column: 2;
    display: grid;
    grid-template-columns: 7fr 2fr;
}

/* PROJECTS */

.project {
    grid-column: 1/-1;
}

.projects {
    background-color: var(--background-color-gray);
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-template-rows: 50px;
    grid-auto-rows: 250px;
    gap: 25px;
    padding-inline: 15px;
}

.card {
    background-color: white;
    border-radius: 16px;
    border-left: 10px solid orange;
    box-shadow: 3px 3px 3px rgb(175 175 175);
}

.card .title,
.card .card-content {
    margin-inline: 15px;
    text-align: left;
}

.card .title {
    font-size: 1.3rem;
    font-weight: 600;
    margin-top: 30px;
    margin-bottom: 5px;
}

.card .card-content {
    color: var(--general-text-color);
}

.card ul {
    display: flex;
    margin-inline-end: 25px;
    gap: 25px;
    justify-content: end;
}

.actions img {
    height: 25px;
    width: 25px;
}

/* ANNOUCEMENTS */

.announcements {
    background-color: var(--background-color-gray);
    display: grid;
    grid-template-rows: 50px min-content 50px min-content;
    padding-inline: 15px;
}

.important {
    display: inline-block;
    margin-top: 25px;
    font-size: 0.9rem;
    border-radius: 16px;
    background-color: white;
    color: var(--general-text-color);
    box-shadow: 3px 3px 3px rgb(175 175 175);
}

.important .announcement {
    padding-left: 50px;
    border-bottom: 1px solid rgba(187, 187, 187, 0.56);
}

.important .title {
    font-size: 1.1rem;
    color: black;
    margin-top: 20px;
}

.important .content {
    margin-top: -10px;
}

/* TRENDING */

#trending-title {
    margin-top: 15px;
}

.announcements .trending {
    background-color: white;
    border-radius: 16px;
    box-shadow: 3px 3px 3px rgb(175 175 175);
}

.trending-list {
    cursor: default;
}

.trending-list li {
    margin-left: 45px;
    margin-bottom: 15px;
    display: flex;
    flex-direction: row;
    gap: 12px;
    align-items: center;
}

.trending .description,
.trending .at-name {
    font-size: 0.9rem;
}

.at-name {
    cursor: pointer;
}

.trending .description {
    color: var(--general-text-color);
}

.announcements img {
    width: 50px;
    height: 50px;
}